<div class="container">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="images/DBlogo.png" alt="logo" title="logo"
                        height="150" /></a>
                <div class="d-flex">
                    <span class="date-info">Dagens datum: @DateTime.Now.ToString("yyyy-MM-dd")</span>
                </div>
            </div>
        </nav>
    </header>
    <div class="content">
        <NavMenu />
        <main>
            @Body
        </main>
    </div>
    <footer class="footer text-center mt-auto py-3 bg-light">
        <div class="container">
            &copy; 2024 - Av Dominika Berg - Du kan kontakta mig på e-post: <a
                href="mailto:exempel@mail.com">dode1800@student.miun.se</a>
        </div>
    </footer>
</div>
