<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active btn btn-link text-center text-dark btn-outline-secondary"
                    href="/">Startsidan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-link text-center text-dark btn-outline-secondary"
                    href="/Convert">Konvertering</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark btn btn-link text-center btn-outline-secondary" href="/JSON">JSON</a>
            </li>
        </ul>
    </div>
</nav>
