@page "/convert"
<div>
    <h3>Konvertering</h3>

    <div>
        <label for="meterInput">Meter till Fot:</label>
        <input type="number" id="meterInput" @bind="meterValue" />
        <button class="btn btn-primary" @onclick="ConvertMeterToFeet">Konvertera</button>
        <span>@resultMeterToFeet</span>
    </div>

    <div>
        <label for="kmhInput">km/h till mph:</label>
        <input type="number" id="kmhInput" @bind="kmhValue" />
        <button class="btn btn-primary" @onclick="ConvertKmhToMph">Konvertera</button>
        <span>@resultMeterToFeet</span>
    </div>

</div>

@code {
    private double meterValue;
    private string? resultMeterToFeet;

    private double kmhValue;
    private int resultKmhToMph;

    private void ConvertMeterToFeet()
    {
        // Konvertera meter till fot (1 meter = 3.28084 fot)
        double feetValue = meterValue * 3.28084;

        // Avrunda till två decimaler
        resultMeterToFeet = $"{feetValue:N2} fot";
    }

    private void ConvertKmhToMph()
    {
        // Konvertera km/h till miles/hour (1 km/h = 0.621371 miles/hour)
        double mphValue = kmhValue * 0.621371;

        // Avrunda till heltal
        resultKmhToMph = (int)Math.Round(mphValue);


    }
}
